!.gitignore
libgpiod.la
libgpiodcxx.la
libtools-common.la
gpiodetect
gpioinfo
gpioget
gpioset
gpiomon
gpiofind
gpiod_cxx_tests
gpiodetectcxx
gpiofindcxx
gpiogetcxx
gpioinfocxx
gpiomoncxx
gpiosetcxx
*.o
*.lo
doc
libgpiod.pc
libgpiodcxx.pc

# autotools stuff
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autostuff/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
m4/
stamp-h1

# unit tests
gpiod-test
