!.gitignore
libgpiod.la
gpiodetect
gpioinfo
gpioget
gpioset
gpiomon
gpiofind
*.o
*.lo
doc

# autotools stuff
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autostuff/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
libtool
m4/
stamp-h1
