# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Bartosz Golaszewski <bartosz.golaszewski@linaro.org>

include setup.py
include build_tests.py
include README.md
include libgpiod-version.txt

recursive-include gpiod *.py
recursive-include tests *.py

recursive-include gpiod/ext *.c
recursive-include gpiod/ext *.h

recursive-include tests/gpiosim *.c
recursive-include tests/procname *.c

recursive-include lib *.c
recursive-include lib *.h
recursive-include include *.h
